body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1.67;
    color: rgb(26, 2, 61);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==============
    TYPOGRAPHY
====================== */


h1 {
    font-weight: 900;
}

h2 {
    font-size: 1.7rem;
}
h3 {
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

header {
    width: 100%;
    padding: 8em 2em 10em;
    background-image: url("/images/mexico.webp");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header_content {
    background-color: #F4442E;
    border-radius: 10px;
    color: #FDFCDC;
    margin: auto 0;
    padding: .2em 1em;

}

.main_title {
    text-align: center;
    font-size: 2rem;
}

.header_desc {
    margin-top: 1em;
    padding: .4em 2em;
    background-color: #FDFCDC;
    color: #1D201F;
    text-align: center;
    font-size: 1em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}




.activities_section{
    background-color: #FDFCDC;
}

.activities_container {
    padding: 2em 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.activities {
    width: 80%;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.activities img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.activities > p, .activities > h3 {
    margin-top: .8em;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em 1em;
}

.footer-container {
    background-color: #F4442E;
    color: #FDFCDC;
    padding: 1em 1.4em;
    border-radius: 20px;
    border-bottom: .6em solid #1D201F;
}

.footer-container img {
 border-radius: 10px;
}
.footer-container div {

   padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}




@media (min-width: 500px) {
    .activities {
        width: 60%;
    }
}

@media  (min-width: 650px) {

    h3 {
        font-size: 1.7rem;
    }
    h4 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1.3rem;
    }

    header {
        padding: 16em 8em;
    }

    .main_title {
        font-size: 3rem;
    }

    .header_desc {
    padding: .4em 4em;
    max-width: 500px;
    font-size: 1.3rem;

    }

    .activities_container {
        padding: 3em 0;
        display: flex;
        flex-direction: row;
    }
    .activities {
        max-width: 40%;
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .activities > img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .footer-container {
        max-width: 60%;
        display: flex;
        flex-direction: row;
    }

    .footer-container img {
        border-radius: 10px;
        width: 50%;

    }

    .footer-container div {
        width: 50%;
        margin-top: 0;
        padding: .3em 3em;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}
